doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  body
    block content